[submodule "third-party/raylib"]
	path = third-party/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/benchmark"]
	path = third-party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third-party/rlImGui"]
	path = third-party/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui.git
